{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}


    <div class="content">
        <h2 class="content-head is-center" >Trocadores de Calor.</h2>

         <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="{% url 'duplotubo:calculo_duplotubo' %}">Duplo Tubo</a></li>
              <li role="presentation" ><a href="{% url 'cascoetubos:calculo_cascoetubos' %}">Casco e Tubos</a></li>
          </ul> 

    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img class="pure-img-responsive" alt="File Icons" width="300" src="{% static 'img/heatexchanger.png' %} ">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Plataforma para Cálculo de Trocadores de Desempenho Calor</h2>

            <p>
                Trocadores de calor podem ser definidos como um dispositivo que transfere energia em forma de calor de um fluido para outro, esse procediemnto dode ser exemplificado quando se restria ou aquece um determinado líquido ou atraves de mudança de fase como vaporização e liquefação.
            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Trocadore de Calor Abordados</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h4>Duplo Tubo</h4>
                <p>
                   O trocador de Calor Duplo Tubo é comum no processo industrial principalmente em empresas intermediárias, os fatores que contribuem para seu uso podem ser representados por sua fácil construção, manutenção e reestruturação.
                </p>


            </div>

            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-2">
                <h4>Casco e Tubos</h4>
                <p>
                    O principal trocador de calor utilizado na indústria é o Casco e Tubos.
                    A sua adoção provem de sua aplicabilidade diversificada, que provem da 
                    compreensão elevada de escoamento.
                </p>


            </div>
        </div>

    </div>




{% endblock %}